.centr {
    display:flex;
    background-color:rgb(240, 240, 240);
    height: 100vh;
    justify-content: center;
    align-items: center;

}

.barra {
    display: flex;
    background-color: rgb(255, 153, 0);
    height: 80px;
}

.login {
    background-color:white;
    width: 800px;
    height: 800px;
    border-radius: 30px;
    display:flex;
    justify-content: center;
    flex-direction:column;
    text-align: center;
    align-items: center;

}

.butaoo {
    height:40px; 
    width:200px;
    border-radius: 30px;
    border: 0px solid;
    background-color: rgb(255, 153, 0);
}